@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Montserrat+Alternates:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  color: white;
}

html {
  font-size: 62.5%;
  background-color: #2f2f2f;
  scroll-behavior: smooth;
}

img {
  width: 35%;
  height: auto;
}

.centro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.out2 {
  display: none;
}

.baner {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mainPage {
  background-image: url(../img/1.jpg);
}

.hM {
  background-image: url(../img/6.jpg);
}

.contenidosF1 {
  background-image: url(../img/3.jpg);
}

.contenidosF2 {
  background-image: url(../img/4.jpg);
}

.contenidosF3 {
  background-image: url(../img/5.jpg);
}

.bodyResults {
  background-image: url(../img/1.jpg);
}

#inicio {
  height: 70%;
  width: 70%;
  background-color: rgba(47, 47, 47, 0.6156862745);
  backdrop-filter: blur(4px);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#logo {
  transition: 0.5s;
  height: 50%;
  width: auto;
}
#logo:hover {
  transform: rotate(30deg);
}

h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 7vh;
  text-align: left;
  text-transform: uppercase;
}

.t_link {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
}

.more, .more4, .more6, .more5, .more1, .more2 {
  margin-top: 20px;
  text-decoration: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2vh;
  font-weight: 700;
  padding: 5px 20px 5px 20px;
  border: solid 1px white;
  background: linear-gradient(#00ffff, #00ffff);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 0px 100%;
  transition: 0.5s;
}
.more:hover, .more4:hover, .more6:hover, .more5:hover, .more1:hover, .more2:hover {
  color: #2f2f2f;
  transition: 0.5s;
  background-size: 100% 100%;
}

.homeBody {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.mainLet {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-height: 300vh;
}

.subtitulo {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 3.2vh;
  font-weight: 300;
  text-align: left;
  text-transform: capitalize;
}

.hM {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
}

.sub_t {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logoS {
  height: 20vh;
  width: auto;
}

.blur, .table, .blur2, .blur1 {
  background-color: rgba(47, 47, 47, 0.6156862745);
  backdrop-filter: blur(4px);
  margin: 20px;
  padding: 20px;
  min-width: 40vh;
  min-height: 40vh;
  border-radius: 25px;
  display: flex;
  flex-direction: column-reverse;
  align-content: space-evenly;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.blur1 {
  width: 50%;
}

.blur2 {
  backdrop-filter: blur(2px);
  width: 35%;
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

p {
  height: auto;
  text-align: justify;
  max-width: 70%;
  font-size: 4vh;
  font-family: "Montserrat Alternates", sans-serif;
}

.contenidos {
  margin-right: 10px;
  width: 77vw;
  min-height: 70vh;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#aprove {
  background-color: rgb(100, 100, 78);
}

.input, .input1 {
  font-family: "Exo 2", sans-serif;
  font-size: 2.5vh;
  padding: 10px 20px 10px 20px;
  height: 20px;
  width: 70%;
  margin-top: 50px;
  background: none;
  border: 1px solid white;
}

.tituloMini {
  width: 80%;
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4vh;
  text-align: justify;
}

td {
  min-width: 200px;
}

.input1 {
  border: none;
  margin-top: 0;
  padding: 3% 10% 3% 10%;
  height: 80%;
  width: 80%;
  min-width: 150px;
}

.input1::placeholder {
  position: relative;
  left: 20px;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(22, 22, 22, 0.616);
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  margin-top: 200px;
  top: 30%;
  height: 40vh;
  width: 20vw;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

.ulNav {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 80%;
}

.navText {
  font-size: 3vh;
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  background: linear-gradient(#00ffff, #00ffff);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.navText:hover {
  color: white;
  background-size: 100% 2px;
}

#logoNav {
  width: auto;
  height: 7vh;
}

.more1, .more2 {
  margin-top: 0;
  font-size: 3vh;
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
}

.table {
  left: 5vw;
  top: 5vh;
  position: fixed;
  z-index: 200;
  height: 90vh;
  width: 90vw;
  background-color: rgba(22, 22, 22, 0.616);
  border: solid white 2px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  backdrop-filter: blur(8px);
  transition: 1s;
  transition-timing-function: ease;
}

.hide {
  transition: 0.5s;
  display: none;
}

.limit, .limit2 {
  width: 100%;
  height: 80%;
  overflow: auto;
}

.limit::-webkit-scrollbar, .limit2::-webkit-scrollbar {
  width: 10px;
}

.limit::-webkit-scrollbar-thumb, .limit2::-webkit-scrollbar-thumb {
  background-color: white;
}

table {
  position: relative;
  top: 5%;
  left: 3%;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 30px;
  border-collapse: collapse;
  width: 94%;
  height: 90%;
  overflow: auto;
}

td, th {
  border: 1px solid white;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgba(22, 22, 22, 0.616);
}

.more4, .more6, .more5 {
  margin-top: 0;
  left: 3%;
  top: 2.5%;
  z-index: 100;
  position: fixed;
}

.more5 {
  left: 85%;
  top: 93%;
}

.more6 {
  left: 3%;
  top: 93%;
}

.out {
  top: -150vh;
  position: fixed;
}

th {
  font-family: "Exo 2", sans-serif;
}

.bodyResults {
  min-width: 100%;
  min-height: 100vh;
}

.filtro {
  top: 6%;
  left: 5%;
  position: fixed;
  z-index: 10;
}

.opener:after, .opener::before {
  position: absolute;
  background-color: #00ffff;
  border: 2px solid #00ffff;
  height: 27px;
  width: 2px;
  content: "";
  left: 43%;
  transition: 0.7s;
  transition-timing-function: ease;
  transition-delay: 1s, 1s, 0s;
  transition-property: top, bottom, transform;
}

.opener:before {
  transform: rotate(90deg);
  top: 2px;
}

.opener:after {
  transform: rotate(-90deg);
  bottom: 2px;
}

.openerClose:before {
  transform: rotate(45deg);
  top: 13px;
  transition-property: top, transform;
  transition-delay: 0s, 1s;
}

.openerClose:after {
  transform: rotate(-45deg);
  bottom: 13px;
  transition-property: bottom, transform;
  transition-delay: 0s, 1s;
}

.opener {
  backdrop-filter: blur(8px);
  background-color: rgba(47, 47, 47, 0.6156862745);
  width: 60px;
  height: 60px;
  border: solid 1.5px white;
  border-radius: 15px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgba(22, 22, 22, 0.616);
  border-radius: 50%;
}

.ulFil {
  position: absolute;
  left: 15px;
  top: 100px;
}

label {
  font-size: 20px;
  font-family: "Montserrat Alternates", sans-serif;
}

input:checked ~ .checkmark {
  background-color: #00ffff;
}

.open {
  overflow: hidden;
  border-radius: 15px;
  z-index: -10;
  top: 6%;
  left: 5%;
  position: fixed;
  backdrop-filter: blur(8px);
  border: 1px solid white;
  width: 200px;
  height: 230px;
  background-color: rgba(47, 47, 47, 0.6156862745);
  transition: 1s;
  transition-timing-function: ease;
  transition-delay: 0s, 1s;
  transition-property: width, height;
}

.open2 {
  height: 58px;
  width: 55px;
  transition-delay: 1s, 0s;
  transition-property: width, height;
}

.more2 {
  position: relative;
  font-size: 18px;
  left: 75px;
  top: 13px;
}

.mainRe {
  padding: 2%;
  overflow: auto;
  top: 15%;
  position: absolute;
  left: 5%;
  backdrop-filter: blur(4px);
  border-radius: 25px;
  background-color: rgba(47, 47, 47, 0.6156862745);
  width: 86%;
  height: 70%;
}

.limit2 {
  height: 100%;
}

.filterInput {
  font-size: 20px;
  backdrop-filter: blur(8px);
  top: 6%;
  border-radius: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  border: none;
  background-color: rgba(47, 47, 47, 0.6156862745);
  position: absolute;
  left: 9%;
  height: 40px;
  padding: 10px 4% 10px 4%;
  width: 78%;
  transition: 1s;
  transition-timing-function: ease;
  transition-delay: 1s;
}
.filterInput::placeholder {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.692);
}

.filterInputOpen {
  left: 16%;
  width: 71%;
  transition-delay: 0s;
}

.Toastify__toast-container {
  width: 100%;
  height: 100%;
}

.tos {
  border-radius: 10px;
  backdrop-filter: blur(3px);
  font-size: 30px;
  font-family: "Montserrat Alternates", sans-serif;
  background: rgba(47, 47, 47, 0.6156862745);
  border: 1px solid white;
  color: white;
}

footer, .footer1 {
  background-color: rgba(47, 47, 47, 0.6156862745);
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  min-height: 90px;
  border-radius: 25px;
  margin-bottom: 30px;
  backdrop-filter: blur(4px);
}
footer img, .footer1 img {
  height: 5vh;
  width: auto;
  margin: 0px 9px 0 9px;
}

#redes_sociales {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 19%;
}

#copy {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.iconos_footer2 {
  height: 4vh;
  width: auto;
  vertical-align: middle;
}

.footerScript {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2vh;
  font-weight: 300;
}

.footer1 {
  width: 100%;
}

@media screen and (max-width: 1600px) {
  .filterInput {
    left: 12%;
    width: 75%;
  }
  .filterInputOpen {
    left: 22%;
    width: 65%;
  }
}
@media screen and (max-width: 1100px) {
  #inicio {
    width: 90%;
  }
  h1 {
    font-size: 6vh;
  }
  #logo {
    height: 40%;
  }
  footer, .footer1 {
    width: 90%;
  }
  .footer1 {
    width: 100%;
  }
  .more1, .more2 {
    padding: 3px 13px;
  }
  .contenidos {
    margin: 5%;
    width: 90%;
  }
  .nav {
    backdrop-filter: blur(10px);
    top: 10px;
    z-index: 10;
    height: 80px;
    flex-direction: row;
    margin: 4%;
    width: 90%;
    background-color: rgba(22, 22, 22, 0.616);
    border-radius: 10px;
    padding: 1%;
  }
  .ulNav {
    width: 80%;
    flex-direction: row;
  }
}
@media screen and (max-width: 840px) {
  .filterInput {
    left: 20%;
    width: 67%;
  }
  #logoNav {
    display: none;
  }
  .nav {
    height: auto;
    flex-direction: column;
  }
  .ulNav {
    width: 100%;
  }
  .blur, .blur1, .blur2, .table {
    width: auto;
  }
  .table {
    left: 2.5vw;
    top: 2.5vh;
    width: 95vw;
    height: 95vh;
  }
  .out {
    top: -100vh;
  }
  .mainRe {
    height: 76vh;
  }
}
@media screen and (max-width: 660px) {
  #inicio {
    min-height: 90%;
    flex-direction: column-reverse;
  }
  .t_link {
    width: 80%;
    height: auto;
  }
  #logo {
    height: auto;
    width: 70%;
  }
}
@media screen and (max-width: 430px) {
  p {
    height: auto;
    font-weight: 800;
    font-size: 3vh;
  }
  .contenidos {
    border-radius: 10px;
    margin: 0px;
    margin-bottom: 60px;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 40px;
  }
  footer, .footer1 {
    min-height: 40vh;
    width: 90%;
  }
  #redes_sociales {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
