@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Montserrat+Alternates:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  color: white;
}

html {
  font-size: 62.5%;
  background-color: #2f2f2f;
  scroll-behavior: smooth;
}

img {
  width: 35%;
  height: auto;
}

.centro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.baner {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mainPage {
  background-image: url(../img/1.jpg);
}

.hM {
  background-image: url(../img/2.jpg);
}

.contenidosF1 {
  background-image: url(../img/3.jpg);
}

.contenidosF2 {
  background-image: url(../img/4.jpg);
}

.contenidosF3 {
  background-image: url(../img/5.jpg);
}

#inicio {
  height: 70%;
  width: 70%;
  background-color: rgba(47, 47, 47, 0.6156862745);
  backdrop-filter: blur(4px);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#logo {
  transition: 0.5s;
  width: 350px;
}
#logo:hover {
  transform: rotate(30deg);
}

h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 55px;
  text-align: left;
  text-transform: uppercase;
}

.t_link {
  height: 100%;
  width: 32%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
}

.more {
  margin-top: 20px;
  text-decoration: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 20px 5px 20px;
  border: solid 1px white;
  background: linear-gradient(#00ffff, #00ffff);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 0px 100%;
  transition: 0.5s;
}
.more:hover {
  color: #2f2f2f;
  transition: 0.5s;
  background-size: 100% 100%;
}

.homeBody {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.mainLet {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 300vh;
}

.subtitulo {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 27px;
  font-weight: 300;
  text-align: left;
  text-transform: capitalize;
}

.hM {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.sub_t {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logoS {
  width: 150px;
}

.blur, .blur1 {
  background-color: rgba(47, 47, 47, 0.6156862745);
  backdrop-filter: blur(4px);
  width: 400px;
  height: 400px;
  border-radius: 25px;
  display: flex;
  flex-direction: column-reverse;
  align-content: space-evenly;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.blur1 {
  width: 800px;
}

p {
  text-align: justify;
  width: 70%;
  font-size: 33px;
  font-family: "Montserrat Alternates", sans-serif;
}

.contenidos {
  margin-right: 10px;
  width: 77vw;
  height: 70vh;
  border-radius: 25px;
  display: flex;
  flex-direction: column-reverse;
  align-content: space-evenly;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#aprove {
  background-color: rgb(100, 100, 78);
}

nav {
  position: -webkit-sticky;
  position: sticky;
  margin-top: 200px;
  top: 30%;
  height: 40vh;
  width: 20vw;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 80%;
}

.navText {
  font-size: 30px;
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  background: linear-gradient(#00ffff, #00ffff);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.navText:hover {
  color: white;
  background-size: 100% 2px;
}

#logoNav {
  width: 70px;
}

footer, .footer1 {
  background-color: rgba(47, 47, 47, 0.6156862745);
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  height: 90px;
  border-radius: 25px;
  margin-bottom: 30px;
  backdrop-filter: blur(4px);
}
footer img, .footer1 img {
  width: 45px;
  height: 45px;
  margin: 0px 9px 0 9px;
}

#redes_sociales {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 300px;
}

#copy {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.iconos_footer2 {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.footerScript {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
}

.footer1 {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
