.baner{
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
.mainPage{
    background-image: url(../img/1.jpg);
}
.hM{
    background-image: url(../img/6.jpg);
}
.contenidosF1{
    background-image: url(../img/3.jpg);
}
.contenidosF2{
    background-image: url(../img/4.jpg);
}
.contenidosF3{
    background-image: url(../img/5.jpg);
}
.bodyResults{
    background-image: url(../img/1.jpg);
    
}