.bodyResults{
    min-width: 100%;
    min-height: 100vh;
}
.filtro{
    top: 6%;
    left: 5.5%;
    position: fixed;
    z-index: 10;
}
.opener:after, .opener::before{
    position: absolute;
    background-color:map-get($map:$colors,$key: 'deta');
    border:2px solid map-get($map:$colors,$key: 'deta');
    height: 27px;
    width: 2px;
    content: "";
    left: 43%;
    transition: 0.7s;
    transition-timing-function: ease;
    transition-delay: 1s, 1s, 0s;
    transition-property: top, bottom, transform;
}
.opener:before{
    transform: rotate(90deg);
    top: 2px;
}
.opener:after{
    transform: rotate(-90deg);
    bottom: 2px;
}
.openerClose:before{
    transform: rotate(45deg);
    top: 13px;
    transition-property: top,  transform;
    transition-delay: 0s, 1s;
}
.openerClose:after{
    transform: rotate(-45deg);
    bottom: 13px;
    transition-property:  bottom, transform;
    transition-delay: 0s, 1s;
}
.opener{
    backdrop-filter: blur(8px);
    background-color:map-get($map:$colors,$key: 't');
    width: 60px;
    height: 60px;
    border:solid 1.5px map-get($map:$colors,$key: 'deta');
    border-radius: 15px;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  }
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: map-get($map:$colors,$key: 'dark');
    border-radius: 50%;
}
.ulFil{
    position: absolute;
    left: 15px;
    top: 100px;
}
label{
    font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
}
input:checked ~ .checkmark {
    background-color: map-get($map:$colors,$key: 'deta');
}
  .open{
    overflow: hidden;
    border-radius: 15px;
    z-index: -10;
    top: 6%;
    left: 5.5%;
    position: fixed;
    backdrop-filter: blur(8px);
    border:1px solid map-get($map:$colors,$key: 'secu');
    width: 200px;
    height: 230px;
    background-color:map-get($map:$colors,$key: 't');
    transition: 1s;
    transition-timing-function: ease;
    transition-delay: 0s, 1s;
    transition-property: width, height;
}
.open2{
    height: 58px;
    width: 55px;
    transition-delay: 1s, 0s;
    transition-property: width, height;
}
.more2{
    @extend .more1;
    position: relative;
    font-size: 18px;
    left: 75px;
    top: 13px;
}
.mainRe{
    padding: 2%;
    overflow: auto;
    top: 5%;
    position: absolute;
    left: 5%;
    backdrop-filter: blur(4px);
    border-radius: 25px;
    background-color:map-get($map:$colors,$key: 't');
    width: 86%;
    height: 80%;
}
.limit2{
    @extend .limit;
    height: 100%;
}
