.mainLet{
    width: 100%;
    @include flex(row, space-around, flex-end, center, wrap);
    min-height: 300vh;
}
.subtitulo{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3.2vh;
    font-weight: 300;
    text-align:left;
    text-transform:capitalize;
}
.hM{
    @include flex(row, center, space-evenly, center, wrap);
    min-height: 100vh;
    width: 100%;
}
.sub_t{
    @include flex(column, space-around, space-around, center, wrap);
}

.logoS{
    height: 20vh;
    width: auto;
}
.blur{
    background-color: map-get($map:$colors, $key: 't');
    backdrop-filter: blur(4px);
    margin: 20px;
    padding: 20px;
    min-width: 40vh;
    min-height: 40vh;
    border-radius: 25px;
    @include flex(column-reverse, space-evenly, space-evenly, center, wrap);
}
.blur1{
    @extend .blur;
    width: 50%;
}
.blur2{
    @extend .blur;
    backdrop-filter: blur(2px);
    width: 35%;
    @include flex(column-reverse, center, center, center, wrap);
}
p{
    height: auto;
    text-align: justify;
    max-width: 70%;
    font-size: 4vh;
    font-family: 'Montserrat Alternates', sans-serif;
}
.contenidos{
    margin-right: 10px;
    width: 77vw;
    min-height: 70vh;
    border-radius: 25px;
    @include flex(row, space-evenly, space-evenly, center, wrap);
}
#aprove{
    background-color: rgb(100, 100, 78);
}
.input{
    font-family: 'Exo 2', sans-serif;
    font-size: 2.5vh;
    padding: 10px 20px 10px 20px;
    height: 20px;
    width: 70%;
    margin-top: 50px;
    background: none;
    border: 1px solid map-get($map:$colors, $key: 'secu');
}
.tituloMini{
    width: 80%;
    font-family: 'Exo 2', sans-serif;
    text-transform:uppercase;
    font-weight: 300;
    font-size: 4vh;
    text-align: justify;
}
td{
    min-width: 200px;
}
.input1{
    @extend .input;
    border: none;
    margin-top: 0;
    padding: 3% 10% 3% 10%;
    height: 80%;
    width: 80%;
    min-width: 150px;
}
.input1::placeholder{
    position: relative;
    left: 20px;
}
html::-webkit-scrollbar{
    width: 10px;
}
html::-webkit-scrollbar-thumb{
    background-color: map-get($map:$colors, $key: 'dark');
}