.mainLet{
    width: 100%;
    @include flex(row, space-around, flex-end, center, wrap);
    height: 300vh;
}
.subtitulo{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 27px;
    font-weight: 300;
    text-align:left;
    text-transform:capitalize;
}
.hM{
    @include flex(row, center, space-evenly, center, wrap);
    height: 100vh;
    width: 100%;
}
.sub_t{
    @include flex(column, space-around, space-around, center, wrap);
}

.logoS{
    width: 150px;
}
.blur{
    background-color: map-get($map:$colors, $key: 't');
    backdrop-filter: blur(4px);
    width: 400px;
    height: 400px;
    border-radius: 25px;
    @include flex(column-reverse, space-evenly, space-evenly, center, wrap);
}
.blur1{
    @extend .blur;
    width: 800px;
}
p{
    text-align: justify;
    width: 70%;
    font-size: 33px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.contenidos{
    margin-right: 10px;
    width: 77vw;
    height: 70vh;
    border-radius: 25px;
    @include flex(column-reverse, space-evenly, space-evenly, center, wrap);
}
#aprove{
    background-color: rgb(100, 100, 78);
}