nav{
    position: -webkit-sticky;
    position: sticky;
    margin-top: 200px;
    top: 30%;
    height: 40vh;
    width: 20vw;
    position: sticky;
    @include flex(column, center, space-evenly, center, wrap);
}
li{
    list-style:none;
}
ul{
    @include flex(column, center, space-evenly, center, wrap);
    height: 80%;
}
.navText{
    font-size: 30px;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    text-transform:uppercase;
    font-weight: 300;
    background: linear-gradient(map-get($map:$colors, $key: 'deta'), map-get($map:$colors, $key: 'deta'));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    &:hover{
        color: map-get($map:$colors, $key: 'secu');
        background-size: 100% 2px;
    }
}
#logoNav{
    width: 70px;
}
.more1{
    @extend .more;
    margin-top:0;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    text-transform:uppercase;
    font-weight: 100;
}