#inicio{
    height: 70%;
    width: 70%;
    background-color: map-get($map:$colors, $key: 't');
    backdrop-filter: blur(4px);
    border-radius: 25px;
    @include flex(row, space-around, space-around, center, wrap);
}
#logo{
    transition: 0.5s;
    height: 50%;
    width: auto;
    &:hover{
        transform: rotate(30deg);
}
}
h1{
    font-family: 'Exo 2', sans-serif;
    font-size: 7vh;
    text-align:left;
    text-transform: uppercase;
}
.t_link{
    height: 100%;
    width: 40%;
    @include flex(column, center, center, start, wrap);
}
.more{
    margin-top: 20px;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2vh;
    font-weight: 700;
    padding: 5px 20px 5px 20px;
    border:solid 1px map-get($map:$colors,$key: 'secu');
    background: linear-gradient(map-get($map:$colors, $key: 'deta'), map-get($map:$colors, $key: 'deta'));        
    background-position: 0% 0%;         
    background-repeat: no-repeat;        
    background-size: 0px 100%; 
    transition: 0.5s;
    &:hover{
        color:map-get($map:$colors,$key: 'main');
        transition: 0.5s;
        background-size: 100% 100%;
}
}
.homeBody{
    @include flex(column, center, center, center, wrap)
}