@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Montserrat+Alternates:wght@100;300&display=swap');
// font-family: 'Montserrat Alternates', sans-serif;
// font-family: 'Exo 2', sans-serif;
$colors:(
    'main':#2f2f2f,
    'secu': #ffff,
    'secut': rgba(255, 255, 255, 0.692),
    'deta': #00ffff,
    't':#2f2f2f9d,
    'dark':rgba(22, 22, 22, 0.616),
);

@mixin flex($flex_d, $al_c, $ju_c, $al_i, $wr){
    display: flex;
    flex-direction: $flex_d;
    align-content: $al_c;
    align-items: $al_i;
    justify-content: $ju_c;
    flex-wrap: $wr;
};
*{
    margin: 0;
    padding: 0;
    color: map-get($map:$colors, $key: 'secu');
}
html{
    font-size: 62.5%;
    background-color: map-get($map:$colors, $key: 'main');
    scroll-behavior: smooth;
}
img{
    width: 35%;
    height: auto;
}
.centro{
    width: 100%;
    height: 100vh;
    @include flex(row-reverse, space-around, space-around, center, wrap);
}
.out2{
    display: none;
}